Package: xyz.tylerd3v.powerflashlight13
Name: PowerFlashlight13
Depends: mobilesubstrate, firmware (>=13.0)
Version: 1.1
Architecture: iphoneos-arm
Description: Toggle Flashlight with Power Button!
Maintainer: TylerD3V
Author: TylerD3V
Section: Tweaks